body{
background-color:white;
}
.customers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    /*grid-template-rows: auto;
    justify-items: center;
    align-items: center;   */
    /* gap: 2px;
    grid-auto-flow: column; */ 
    /* justify-content: center; */
    /* grid-auto-rows: minmax(100px, 200px); */
    
    
}
.profile {
    /* display: block; */
    /* align-items: center; */
    width: auto;
    height: auto;
    align-self: center;
    /* justify-content: center; */
    /* border-style: solid;
    border-color: black;
    border-width: 1px; */
    padding: 5px;
    margin: 1rem;
}