body{
background-color:lightgray;
}
.customers {
    display: inline-grid;
    grid-template-columns: auto auto auto auto 
}
.profile {
    display: block;
    width: auto;
    height: auto;
    border: black 3px;
    /* border: 3px; */
}